* {
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
}
.content {
    font-family: 'Lato', sans-serif;
    margin:20px;
}

.header {
    display: flex;
    inline-size: auto;
    block-size: 80px;
    background: #E0E0E0;
    align-items: center;
    

}

ul {
    inline-size: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

li.title-main {
    font-size: 22px;
    font-weight: 600;
    text-align: start;
    flex-grow: 1;
}

.main-menu {
    position: sticky;
    inset-block-start: 0;
}

.header li img {
    inline-size: 40px;
    block-size: 36.84px;
    margin-inline-start: 20px;
    margin-inline-end: 30px;
}

.menu-on {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    background: fixed;
    background-color: white;
    letter-spacing: 0.5px;
    
}

#menu-on-clear {
    margin-inline-end: 50px;
}

#barra {
    background: #FFFFFF;
    padding: 10px;
}

a {
    padding: 11px;
    margin: 0px;
    background-color: #FFFFFF;
    text-decoration: none;
    color: #666666;
    text-align: unset;
    
}

a:hover {
    background-color: #666666;
    color: #FFFFFF
}

p {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding-block-end: 20px;
    
}

.transaction {
    inline-size: 35%;
    border: 1px solid;
    border-radius: 2%;
    margin-block-start: 20px;
    padding: 30px;
}
.form-transaction {
    display: flex;
    flex-direction: row;
    
}

.type-transaction,
.nome-mercadoria,
.valor-mercadoria,
.btn-transaction {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding-block-end: 30px;
}





footer {
    position: fixed;
    inset-block-end: 0;
    inline-size: 100%;
    block-size: 20px;
    background-color: #333333;
}

footer p {
    font-size: 10px;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-align: center;

}
