* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#check {
    display: none;
    
}

nav {
    display: none;
}


.header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    inline-size: auto;
    block-size: 80px;
    background: #E0E0E0;
    align-items: center;
    padding: 5px;
    
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

li.title-main {
    font-size: 22px;
    font-weight: 600;
    text-align: start;
    flex-grow: 1;
}

.header-main li img {
    inline-size: 40px;
    block-size: 36.84px;
    margin-inline-start: 20px;
    margin-inline-end: 30px;
}

#logoMobile {
    display: none;
}

.menu-on {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    background-color: white;
    letter-spacing: 0.5px;
}

#menu-on-clear {
    margin-inline-end: 30px;
}

#barra {
    background: #FFFFFF;
    padding: 10px;
    cursor: pointer;
}

a {
    padding: 11px;
    background-color: #FFFFFF;
    text-decoration: none;
    color: #666666;
    text-align: unset;
}

a:hover {
    background-color: #666666;
    color: #FFFFFF
}

.body-page {
    margin: auto 20px;
}

.body-page-content {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.transaction {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    inline-size: 35%;
    border: 1px solid;
    border-radius: 2%;
    margin-block-start: 20px;
    padding: 30px;
}
.nova-transacao {
    font-weight: 600;
    font-size: 20px;
    margin: 0 auto;
}

.form-transaction div label {
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: bolder;
}

input, select {
    inline-size: 100%;
    font-size: 14px;
    font-weight: 400;
    block-size: 25px;
    margin-block-end: 20px;
}

.btnSubmit {
    border:none;
    border-radius: 5px;
    background: #666666;
    color: #FFFFFF;
    block-size: 30px;
    cursor: pointer;
}

.extratoTransacoes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    inline-size: 60%;
    margin-block-start: 20px;
    padding: 30px;
}

.extrato {
    font-weight: 600;
    font-size: 20px;
    padding-block-end: 20px;
    align-self: center;
}

table {
    border-block-end: none;
    line-height: 30px;
}

th {
    text-align: start;
}

td {
    border-block-start: 1px solid;
    border-block-end: none;
    line-height: 30px;
}

.valor {
    text-align: end;
}

#lucro {
    text-align: end;
    font-style: italic;
}

#ListTransacoesTotal {
    border-block-start: 3px double;
}

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    inset-block-end: 0;
    inline-size: 100%;
    block-size: 20px;
    background-color: #666666;
    font-size: 9px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1px;
}

.Rodape {
    margin: auto;
}

